﻿body {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/wood.png');
}

.modalBox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
    /*background-color: rgba(0,0,0,0.4);*/
}

.modalBoxContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
}

.title {
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}